<!--
    btn-circle in Bootstrap - http://bootsnipp.com/snippets/featured/circle-button
-->
<div class="container"  ng-app="myApp" ng-controller="HomeCtrl">
    <div class="page-header">
        <h1>Recipe Chef</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
          <div ng-repeat="recipe in recipes" class="col-sm-4 col-md-4" id="{{recipe.recipeId}}">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h2 class="panel-title">{{recipe.recipeName}}</h2>
              </div>
              <div class="panel-body">
                <h5><i>Category:</i> &nbsp;&nbsp;&nbsp;&nbsp; {{recipe.recipeCategory}} </h5>
                <h5><i>Info:</i></h5><div class="well well-lg" style="height:200px;overflow-y:scroll;white-space: pre;">{{recipe.recipeInfo}}</div>
              </div>
            </div>
          </div>

        </div>
    </div>
    <div class="row animate-show" ng-show="callFormPanel">
        <div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10">
            <button type="button" class="btn btn-info btn-circle btn-xl" ng-click="showForm()">
                <span class="glyphicon glyphicon-plus" style="padding-top:3px;padding-left:1px;font-size:40px;"></span>
            </button>
        </div>
    </div>
    <form name="recipeForm" role="form">
      <div class="row animate-show" ng-hide="formPanel">
          <div class="col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1">
              <div class="row">
                  <h2>Add Recipe</h2>
                  <div class="col-sm-9 col-md-8">
                      <div class="form-group" ng-class="{ 'has-warning' : recipeForm.name.$error.required }">
                          <label>Recipe Name</label>
                          <input ng-model="recipeName" type="text" name="name" class="form-control" required>
                          <p class="help-block" ng-show="recipeForm.name.$error.required">You must specify a name.</p>
                      </div>
                  </div>
                  <div class="col-sm-3 col-md-2">
                      <div class="form-group" ng-class="{ 'has-warning' : recipeForm.cat.$error.required }">
                          <label>Recipe Category</label>
                          <select class="form-control" name="cat" ng-model="recipeCategory" required>
                            <option value="" selected="" hidden>Choose a category...</option>
                            <option ng-repeat="category in categories" value="{{category.value}}">{{category.value}}</option>
                            <option value="add">Add a category...</option>
                          </select>
                          <p class="help-block" ng-show="recipeForm.cat.$error.required">You must choose a category.</p>
                      </div>
                  </div>
                  <form name="categoryForm" role="form">
                      <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4" ng-show="recipeCategory == 'add'">
                        <div class="form-group" ng-class="{ 'has-warning' : !newCategory.length }">
                            <input type="text" name="newCat" class="form-control" ng-model="newCategory">
                            <p class="help-block" ng-show="!newCategory.length">You must enter a new category.</p>
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-4" ng-show="recipeCategory == 'add'">
                        <button type="button" class="btn btn-primary" ng-click="addCategory()" ng-disabled="!newCategory.length">Add Category</button>
                      </div>
                  </form>
                  <div class="col-sm-12 col-md-10">
                      <div class="form-group" ng-class="{ 'has-warning' : recipeForm.cat.$error.required }">
                          <label>Recipe Info</label>
                          <textarea ng-model="recipeInfo" name="info" class="form-control" rows="3" required></textarea>
                          <p class="help-block" ng-show="recipeForm.info.$error.required">You must give an information about the recipe.</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-9">
                      <button type="button" class="btn btn-danger btn-circle btn-xl" ng-click="cancelRecipe()">
                          <span class="glyphicon glyphicon-remove" style="font-size:40px;"></span>
                      </button>
                      <button type="button" class="btn btn-success btn-circle btn-xl" ng-click="addRecipe()" ng-disabled="recipeForm.name.$error.required || recipeForm.cat.$error.required || recipeForm.info.$error.required">
                          <span class="glyphicon glyphicon-ok" style="font-size:40px;"></span>
                      </button>
                  </div>
              </div>
          </div>
      </div>
    </form>
</div>
